/*Portada*/
.portada{
    height: 760px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .portada__parrafo-principal{
        display: flex;
        flex-direction: column;
        font-size: 4.1rem;
        font-weight: 350;
        margin-bottom: 20px;
    }
    .portada__apellido{
        color: #077f94;
    }
    .portada__parrafo-secundario{
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        gap: 1px;
    }
}