/*Sobre Mi*/
.sobre-mi{
    .sobre-mi__titulo{
        text-align: center;
        margin-top: 200px;
        font-size: 2.7rem;
    }
    .sobre-mi__parrafo-foto{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 120px;
        margin-top: 75px;
        .sobre-mi__parrafo-links{
            width: 600px;
            height: 300px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .sobre-mi__parrafo{
                font-size: 1.2rem;
            }
            .sobre-mi__links{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-top: 50px;
                .sobre-mi__cv{
                    text-decoration: none;
                    color: black;
                    font-size: 1.2rem;
                }
                .sobre-mi__linkedin{
                    text-decoration: none;
                    color: black;   
                    font-size: 1.2rem;
                    .sobre-mi__boton-linkedin{
                        background-color: #077f94;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 25px;
                        padding: 12px 24px;
                        border-radius: 12px;
                        display: flex;
                        gap: 8px;
                    }
                    .sobre-mi__logo-boton{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .sobre-mi__cont-foto{
            width: 280px;
            height: 280px;
            border: 1px;
            border-style: solid;
            border-radius: 100%;
            .sobre-mi__imagen{
                width: 280px;
                height: 280px;
                border-radius: 100%;
                text-align: center;
            }
        }
    }
}